<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @technique.name %>
</p>

<p>
  <b>Description:</b>
  <%= @technique.description %>
</p>

<p>
  <b>Image:</b>
   <img src = "<%= @technique.image %>"/>
</p>


<%= link_to 'Edit', edit_technique_path(@technique) %> |
<%= link_to 'Back', techniques_path %>
