<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @equipment.name %>
</p>

<p>
  <b>Description:</b>
  <%= @equipment.description %>
</p>

<p>
  <b>Image:</b>
  <img src = <%= "@equipment.image" %> />
</p>


<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
