<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @effect.name %>
</p>

<p>
  <b>Description:</b>
  <%= @effect.description %>
</p>

<p>
  <b>Image:</b>
  <img src = "<%= @effect.image %>" />
</p>

<p>
  <b>Technique:</b>
  <%= @effect.technique_id %>
</p>

<p>
  <b>Equipment:</b>
  <%= @effect.equipment_id %>
</p>

<p>
  <b>Ingredient:</b>
  <%= @effect.ingredient_id %>
</p>

<p>
  <b>User:</b>
  <%= @effect.user_id %>
</p>


<%= link_to 'Edit', edit_effect_path(@effect) %> |
<%= link_to 'Back', effects_path %>
