<h1>Badass Homepage that caused me more stress then you can ever imagine</h1>

<%= link_to 'Users', users_path %>

<%= link_to 'Techniques', techniques_path %>
 
<%= link_to 'Ingredients', ingredients_path %>

<%= link_to 'Equipment', equipment_index_path %>

<%= link_to 'effects', effects_path %>

